body {
	background-color: lavender;
}
li {
	color: indigo;
	margin-left: 50px;
	font-size: 20px;
}
h1 {
	color: darkgray;
	font-family: "Lilita One", sans-serif;
	font-size: 70px;
	position: relative;
	top: 18px;
	left: 10px;
}
h2 {
	font-family: "Bree Serif", serif;
	font-size: 30px;
	color: darkmagenta;
	margin-left: 50px;
}
img {
  float: left;
  width: 100px;
  height: 100px;
}
a:link {
	color: deepskyblue;
	font-size: 20px;
}
a:visited {
	color: mediumorchid;
}
a:hover {
	color: lightpink;