/***layout style***/
* {
	border-sizing: border-box;
}
header {
	width: 75vw;
	margin: 25px auto;
}
main {
	width: 75vw;
	margin: 25px auto;
	display: flow-root;
}
.col {
	width: 50%;
	float: left;
}
body {
	background-color: lavender;
}
/***type style***/
li {
	color: indigo;
	margin-left: 50px;
	font-size: 20px;
}
h1 {
	color: darkgray;
	font-family: "Lilita One", sans-serif;
	font-size: 70px;
	position: relative;
	top: 18px;
	left: 10px;
}
h2 {
	font-family: "Bree Serif", serif;
	font-size: 30px;
	color: darkmagenta;
	margin-left: 50px;
}
img {
  float: left;
  width: 100px;
  height: 100px;
}
a:link {
	color: cornflowerblue;
	font-size: 20px;
}
a:visited {
	color: mediumorchid;
}

/***hover not working with media screen***
a:hover {
	color: lightpink;**/

@media screen and (max-width: 950px) {
	.col {
		width: 100%;
		margin-bottom: 50px;
	}
	header {
		width: 90vw;
	}
	main {
		width: 90vw;
	}
	h1 {
		font-size: 90px;
	}
}