body {
	background-color: honeydew;
	font-size: 20px;
	line-height: 1.6;
	margin-left: 100px;
	margin-right: 275px;
	margin: 0;
}
li {
	color: forestgreen;
}
a {
	color: cornflowerblue;
}
a:link {
	color: royalblue;
}
a:visited {
	color: hotpink;
}
a:hover {
	color: rebeccapurple;
}
h2 {
	color: forestgreen;
	font-family: "Lato", sans-serif;
}
h1 {
	color: darkolivegreen;
}

