body {
	background-color: honeydew;
	font-size: 20px;
}
li {
	color: forestgreen;
}
a {
	color: cornflowerblue;
}
a:link {
	color: darkcyan;
}
a:visited {
	color: lightpink;
}
a:hover {
	color: black;
}
