body {
	margin: 0;
}
/***checkerboard***/
.green {
	background-color: #74A12E;
	width: 100px;
	height: 100px;
	float: left;
}
.black {
	background-color: #222222;
	width: 100px;
	height: 100px;
	float: left;
}
.board {
	width: 800px;
	margin: 100px auto;
}

/***columns***/
.container {
	width: 950px;
	display: flow-root;
	margin: 100px auto;
	background-color: #E5E8B6;
}
header {
	width: 100%;
	height: 150px;
	margin-bottom: 25px;
	background-color: #586994;
}
.nav {
	width: 100%;
	height: 50px;
	margin-bottom: 25px;
	background-color: #7D869C;
}
.col {
	width: 300px;
	height: 800px;
	margin-bottom: 25px;
	background-color: #A2ABAB;
	float: left;
}
#centercol {
	width: 300px;
	height: 800px;
	background-color: #A2ABAB;
	margin-left: 25px;
	margin-right: 25px;
	float: left;
}
footer {
	width: 100%;
	height: 150px;
	background-color: #B4C4AE;
	float: left;
}

/***blog***/
.container2 {
	width: 1000px;
	display: flow-root;
	background-color: #EED5C2;
	margin: 100px auto;
}
.header2 {
	width: 100%;
	height: 200px;
	background-color: #7C606B;
	margin-bottom: 100px;
}
.image {
	width: 80%;
	height: 500px;
	margin-bottom: 25px;
	background-color: #C46BAE;
	float: left;
}
.picture {
	width: calc(20% - 25px);
	height: 250px;
	margin-left: 25px;
	background-color: #C46BAE;
	float: left;
}
.footer2 {
	width: 80%;
	height: 50px;
	background-color: #C46BAE;
	margin-bottom: 100px;
	float: left;
}

/***tennis court***/
.courtcontainer {
	width: 1015px;
	display: flow-root;
	background-color: white;
	margin: 100px auto;
}
.rectangle {
	width: 150px;
	height: 200px;
	background-color: palegreen;
	float: left;
}
.rectangle2 {
	width: 705px;
	height: 200px;
	background-color: palegreen;
	margin: 0px 5px 0px 5px;
	float: left;
}
.square {
	width: 350px;
	height: 350px;
	background-color: palegreen;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}
.square2 {
	width: 350px;
	height: 350px;
	background-color: palegreen;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	float: left;
}
.rectangle3 {
	width: 150px;
	height: 355px;
	background-color: palegreen;
	float: left;
}
.topcourt {
	width: 1015px;
	height: 555px;
	background-color: white;
	display: flow-root;
}
.rectangle4 {
	width: 150px;
	height: 355px;
	margin-top: 5px;
	background-color: palegreen;
	float: left;
}
.rectangle5 {
	width: 705px;
	height: 200px;
	background-color: palegreen;
	margin: 0px 5px 0px 5px;
	float: left;
}
.bottomcourt {
	width: 1015px;
	height: 555px;
	background-color: white;
	display: flow-root;
}

/***California case***/
.calcontainer {
	width: 700px;
	background-color: blueviolet;
	display: flow-root;
	float: left;
}
.firstgrid {
	width: 235px;
	background-color: blueviolet;
	display: flow-root;
	float: left;
	margin: 25px 25px 25px 25px;
}
.baserect {
	width: 25px;
	height: 50px;
	background-color: tomato;
	margin: 0px 1px 0px 0px;
	float: left;
}
.baserect2 {
	width: 25px;
	height: 50px;
	background-color: tomato;
	margin: 0px 1px 0px 1px;
	float: left;
}
.siderect {
	width: 50px;
	height: 50px;
	background-color: tomato;
	margin-left: 1px;
	float: left;
}
.baserect3 {
	width: 25px;
	height: 50px;
	background-color: tomato;
	margin: 2px 2px 0px 0px;
	float: left;
}
.midrect {
	width: 52px;
	height: 50px;
	background-color: tomato;
	margin-top: 2px;
	margin-right: 2px;
	float: left;
}
.siderect2 {
	width: 50px;
	height: 52px;
	background-color: tomato;
	float: left;
}
.baserect4 {
	width: 25px;
	height: 52px;
	background-color: tomato;
	margin: 0px 2px 0px 0px;
	float: left;
}
.midrect2 {
	width: 52px;
	height: 52px;
	background-color: tomato;
	margin-right: 2px;	
	float: left;
}
.siderect3 {
	width: 50px;
	height: 50px;
	background-color: tomato;
	margin-top: 2px;
	float: left;
}
.secondgrid {
	width: 235px;
	background-color: blueviolet;
	display: flow-root;
	float: left;
	margin: 25px 25px 25px -30px;
}
.baserect5 {
	width: 25px;
	height: 52px;
	background-color: tomato;
	margin: 0px 2px 2px 0px;
	float: left;
}
.siderect4 {
	width: 52px;
	height: 52px;
	background-color: tomato;
	margin-right: 2px;
	float: left;
}
.baserect6 {
	width: 25px;
	height: 54px;
	background-color: tomato;
	margin-right: 2px;
	float: left;
}