body {
	margin: 0;
}
/***checkerboard***/
.green {
	background-color: #74A12E;
	width: 100px;
	height: 100px;
	float: left;
}
.black {
	background-color: #222222;
	width: 100px;
	height: 100px;
	float: left;
}
.board {
	width: 800px;
	margin: 100px auto;
}

/***columns***/
.container {
	width: 950px;
	display: flow-root;
	margin: 100px auto;
	background-color: #E5E8B6;
}
header {
	width: 100%;
	height: 150px;
	margin-bottom: 25px;
	background-color: #586994;
}
.nav {
	width: 100%;
	height: 50px;
	margin-bottom: 25px;
	background-color: #7D869C;
}
.col {
	width: 300px;
	height: 800px;
	margin-bottom: 25px;
	background-color: #A2ABAB;
	float: left;
}
#centercol {
	width: 300px;
	height: 800px;
	background-color: #A2ABAB;
	margin-left: 25px;
	margin-right: 25px;
	float: left;
}
footer {
	width: 100%;
	height: 150px;
	background-color: #B4C4AE;
	float: left;
}

/***blog***/
.container2 {
	width: 1000px;
	display: flow-root;
	background-color: #EED5C2;
	margin: 100px auto;
}
.header2 {
	width: 100%;
	height: 200px;
	background-color: #7C606B;
	margin-bottom: 100px;
}
.image {
	width: 80%;
	height: 500px;
	margin-bottom: 25px;
	background-color: #C46BAE;
	float: left;
}
.picture {
	width: calc(20% - 25px);
	height: 250px;
	margin-left: 25px;
	background-color: #C46BAE;
	float: left;
}
.footer2 {
	width: 80%;
	height: 50px;
	background-color: #C46BAE;
	margin-bottom: 100px;
	float: left;
}