* {
	box-sizing: border-box;
}
body {
	margins: 0;
}
div {
	width: 400px;
	height: 400px;
	margin: 5px;
	float: left;
	padding: 100px;
	border: 10px solid black;
}
#one {
	background-color: skyblue;
}
#two {
	background-color: deepskyblue;
}
#three {
	background-color: lightskyblue;
}
#four {
	background-color: blue;
}