body {
	background-color: black;
	margin: 0;
}
h1 {
	color: tomato;
	text-align: center;
	margin-top: 300px;
	font-size: 200px;
}
@media screen and (max-width: 1100px) {
	body {
		background-color: white;
	}
	h1 {
		margin-top: 400px;
		font-size: 60px;
	}
}