body {
	background-color: aliceblue;
	font-size: 16px;
	line-height: 1.6;
	margin-left: 300px;
	margin-right: 300px;
	font-family: "PT Serif", serif;
}
h1 {
	font-family: "Nanum Gothic", sans-serif;
	font-size: 50px;
}
h2 {
	color: teal;
	  font-family: "Merriweather", serif;
}
h3 {
	color: mediumslateblue;
}
.purple {
	color: purple;
}
.blue {
	color: midnightblue;
}
#red {
	color: firebrick;
}
.gray {
	color: darkslategray;
}